<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>this is my collection manager</h1>
        <form action="/home" method="POST">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="brand" placeholder="brand">
            <input type="text" name="crustStyle" placeholder="cruststyle">
            <input type="text" name="toppings.meats" placeholder="meat">
            <input type="text" name="toppings.veggies" placeholder="veggies">
            <input type="text" name="toppings.cheese" placeholder="cheese">
            <input type="text" name="toppings.sauce" placeholder="sauce">
            <button type="submit">Submit</button>
        </form>
        <h1>My list of Pizzas</h1>
    <div class="pizzaList">
        {{#Pizza}}
            <a href="/edit/{{_id}}">edit</a>
            <p>Title:{{title}} Brand: {{brand}} cruststyle: {{crustStyle}} </p>
            <p>Toppings: {{toppings.meats}}, {{toppings.veggies}}, {{toppings.cheese}}, {{toppings.sauce}}</p>
        {{/Pizza}}
        
    </div>
    </div>
</body>

</html>